* {
    color: #2C272B;
}

.design {
    background-color: #D7397C;
    border: 1px solid #D7397C;
    width: 150px;
    height: 50px;
    color: white;
    padding-top: 8px;
    text-align: center;
}

.carousel .carousel-indicators button {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #D7397C;
    border: 1px solid #D7397C;
}

#left span {
    height: 20px;
    width: 20px;
    margin-top: 550px;
    margin-left: 150px;
}

#right span {
    height: 20px;
    width: 20px;
    margin-top: 550px;
    margin-right: 150px;
}

.carousel-control-prev-icon {
    background-color: #D7397C;
    border-radius: 100%;
}

.carousel-control-next-icon {
    background-color: #D7397C;
    border-radius: 100%;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background-color: white;
    padding-top: 5px;
}

#drop {
    border: none;
    background-color: white;
    font-size: 20px;
    margin-left: 20px;
}

#drop_content a {
    margin-left: 0px;
}

.separate {
    display: flex;
    margin-right: 100px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    padding-top: 20px;
    margin-left: -100px;
}

a {
    margin-left: 50px;
}

.newStyle:hover {
    color: black;
}

.newStyle {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

#testimonials {
    margin-top: 10px;
    height: 370px;
    background: rgba(255, 222, 235, 0.4);
}

#cake {
    text-align: center;
    background-color: #FFF495;
    height: 370px;
    width: 600px;
}

#chocolate {
    padding-top: 100px;
    text-align: left;
    margin-left: 50px;
}

#chocolate h5 {
    font-weight: bold;
}

#chocolate p {
    margin-top: 20px;
}

.step2 {
    background: rgba(205, 180, 219, 0.2);
    height: 200px;
}

#cake_content {
    padding-top: 50px;
    text-align: center;
}

#small button {
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    width: 70px;
    margin-left: 173px;
}

#medium button {
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    width: 70px;
    margin-left: 103px;
}

#large button {
    background-color: white;
    border: 1px solid white;
    border-radius: 4px;
    width: 70px;
}

#dropdown {
    margin-left: 170px;
}

#minus button {
    margin-top: 10px;
    background-color: #FFF495;
    height: 30px;
    width: 30px;
    border: 1px solid #FFF495;
    border-radius: 6px;
    font-weight: bold;
}

#plus button {
    margin-top: 10px;
    background-color: #FFF495;
    height: 30px;
    width: 30px;
    border: 1px solid #FFF495;
    border-radius: 6px;
    font-weight: bold;
}

#number input {
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    border: 1px solid white;
}

#increment {
    background-color: white;
    width: 200px;
    height: 50px;
    border: 1px solid white;
    border-radius: 4px;
    margin-left: 120px;
}

.step3 {
    background: rgba(255, 222, 235, 0.1);
    margin-left: 400px;
    margin-top: 70px;
    height: 550px;
}

.price {
    font-size: 20px;
}

.am {
    color: #D7397C;
    font-size: 20px;
}

.input-field {
    margin-top: 20px;
}

.input-field input:active,
.input-field input:focus,
.input-field textarea:focus {
    border-color: #D7397C;
    box-shadow: 0px 4px 40px rgba(194,126,153,.4);
}

.input-field textarea {
    width: 50%;
    margin-top: 10px;
    padding: 20px;
    border-radius: 4px;
    height: 100px;
    border: 3px solid #f7cedf;
    color: #576372;
    font-size: 18px;
    font-weight: 400;
    transition: all .3s ease-out;
}

#message {
    margin-top: 40px;
}

.input-field label {
    display: block;
    color: #4D555A;
    font-size: 16px;
    padding-bottom: 16px;
}

.cart {
    background-color: #D7397C;
    border: 1px solid #D7397C;
    border-radius: 4px;
    color: white;
    height: 50px;
    width: 150px;
    margin-top: 40px;
    margin-left: -30px;
}

h4 {
    color: #D7397C;
    text-align: center;
    padding-top: 50px;
}

.taste {
    text-align: center;
}

.step4 {
    background-color: #f3ebee;
    height: 800px;
}

#cards {
    width: 300px;
    height: 380px;
}

#rows {
    padding-left: 5%;
    padding-top: 70px;
}

#card_move {
    padding-left: 5%;
}

.blue {
    font-size: 15px;
    text-align: center;
    margin-top: 20px;
}

.amount {
    color: #D7397C;
    text-align: center;
    font-size: 20px;
}

.img_cake {
    margin-left: -16px;
    margin-top: -30px;
}

.view {
    background-color: #D7397C;
    color: white;
    border: 1px solid #D7397C;
    height: 50px;
    width: 150px;
    border-radius: 4px;
    margin-left: 30px;
}

.view_red {
    background-color: #D7397C;
    color: white;
    border: 1px solid #D7397C;
    height: 50px;
    width: 200px;
    border-radius: 4px;
    margin-top: 100px;
}

/* footer */

.footer {
    background: #FFF495;
    height: 260px;
}

.containers {
    margin: auto;
    padding: 0 70px;
}

.rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-col {
    width: 25%;
    margin-top: 50px;
}

.footer-col h4 {
    font-size: 16px;
    color: #D7397C;
    margin-top: -50px;
    margin-left: -12px;
}

.footer-col img {
    width: 150px;
}

.footer-col .foot {
    font-size: 14px;
    color: black;
    text-decoration: none;
    display: block;
    line-height: 25px;
    transition: all 0.3s ease;
    margin-left: 110px; 
}

.footer-col p {
    padding-top: 12px;
}

.footer-col .social-links a{
    color: #D7397C;
    border-radius: 100%;
    margin-left: 2px;
}

.footer h5 {
    text-transform: none;
    font-size: 15px;
    text-align: center;
    padding: 3%;
}

#reach a{
    color: #D7397C;
    padding-top: 12px;
    margin-left: 110px;
}

#reach h4 {
    margin-left: -5px;
}

.feature .foot {
    padding-top: 12px;
    margin-left: 80px;
}

.company .foot {
    padding-top: 12px;
}

.feature {
    margin-left: 100px;
}

.feature h4 {
    margin-left: 40px;
}

.company {
    margin-left: 30px;
}

.company h4 {
    margin-left: 23px;
}
